

<div id="login-page" class="container-fluid">

  <div id="login-header" class='row login'>
    <div class='col-md-12'>
      <h1 id="login-title">Bears. Beets. Battlestar Galactica!</h1>
    </div>    
    <div class='col-md-12'>
      <span id="message"></span>
    </div>
  </div>

  <form name="myForm" novalidate class="form-inline css-form">
    <div class="row">
      <div class="col-md-12">
        <h3 class="login">Create New Account</h3>
      </div>
    </div>
    <!-- New user email -->
    <div class="form-group">
      <input type="email" name="email" class="form-control" ng-model="email" required placeholder="email">
    </div>
    <!-- New user password -->
    <div class="form-group">
      <input type="password" name="password" class="form-control" ng-model="password" required placeholder="password">
    </div>
    <!-- New user username -->
    <div class="form-group">
      <input type="text" name="username" class="form-control" ng-model="username" required placeholder="username">
    </div>
    <!-- New user submit button -->
    <input type="submit" ng-disabled="myForm.email.$pristine || myForm.password.$pristine || myForm.username.$pristine || myForm.password.$dirty && myForm.username.$pristine || myForm.email.$dirty && myForm.email.$invalid" 
    class="btn btn-success" ng-click="createUser()">    

  </form>
  <!-- New user email and password validation -->
  <div class="row">
    <span ng-show="myForm.email.$dirty && myForm.email.$invalid">
      <span class="required" ng-show="myForm.email.$error.required">Email is required.</span>
      <span class="required" ng-show="myForm.email.$error.email">Invalid email address.</span>
    </span>
    <span ng-show="myForm.password.$dirty && myForm.password.$invalid">
      <span class="required" ng-show="myForm.password.$error.required">Password is required.</span>
    </span>
  </div>

  <form name="loginForm" novalidate class="form-inline css-form">
    <div class="row">
      <div class="col-md-12">
        <h3 class="login">Login</h3>
      </div>
    </div>
    <!-- Login email -->
    <div class="form-group">
      <input type="email" name="loginEmail" class="form-control" ng-model="loginEmail" required placeholder="email">
    </div>
    <!-- Login password -->
    <div class="form-group">
      <input type="password" name="password" class="form-control" ng-model="loginPassword" required placeholder="password">
    </div>
    <!-- Login submit button -->
    <input type="submit" value="Login" ng-disabled="loginForm.password.$pristine || loginForm.loginEmail.$dirty && loginForm.loginEmail.$invalid" class="btn btn-success" ng-click="loginUser()">
  </form>
  <!-- Login email and password validation -->
  <div class="row">
    <span ng-show="loginForm.loginEmail.$dirty && loginForm.loginEmail.$invalid">
      <span class="required" ng-show="loginForm.loginEmail.$error.required">Email is required.</span>
      <span class="required" ng-show="loginForm.loginEmail.$error.loginEmail">Invalid email address.</span>
    </span>
      <span ng-show="loginForm.loginPassword.$dirty && loginForm.loginPassword.$invalid">
      <span class="required" ng-show="loginForm.loginPassword.$error.required">Password is required.</span>
    </span>
  </div>

  <div class ="row col-md-12">
    <a href="http://www.pastemagazine.com/blogs/lists/2013/02/best-dwight-shrute-quotes.html" target="_blank">
      <img class='pic' src='assets/dwight-beets.png'>
    </a>    
  </div>

</div>
