

<div id="login-page" class="container-fluid">

  <div id="login-header" class='row login'>
    <div class='col-md-12'>
      <h1 id="login-title">Bears. Beets. Battlestar Galactica!</h1>
    </div>
  </div>

  <form novalidate class="form-inline css-form">
    <div class="row">
      <div class="col-md-12">
        <h3 class="login">Create New Account</h3>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only">Email address</label>
      <input type="email" class="form-control" ng-model="user.email" required placeholder="email">
    </div>
    <div class="form-group">
      <label class="sr-only">Password</label>
      <input type="password" class="form-control" ng-model="user.password" required placeholder="password">
    </div>
    <div class="form-group">
      <label class="sr-only">Username</label>
      <input type="text" class="form-control" ng-model="user.username" required placeholder="username">
    </div>
    <input type="submit" class="btn btn-success" ng-click="createUser(user)">
  </form>

  <form novalidate class="form-inline css-form">
    <div class="row">
      <div class="col-md-12">
        <h3 class="login">Login</h3>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only">Email address</label>
      <input type="email" class="form-control" ng-model="user.loginEmail" required placeholder="email">
    </div>
    <div class="form-group">
      <label class="sr-only">Password</label>
      <input type="password" class="form-control" ng-model="user.loginPassword" required placeholder="password">
    </div>    
    <input type="submit" class="btn btn-success" ng-click="loginUser(user)" value="Login">
  </form>

  <div class ="row col-md-12">
    <a href="http://www.nbc.com/the-office">
      <img class='pic' src='assets/dwight-beets.png'>
    </a>    
  </div>

</div>
