
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Stats</h4>
      </div>
      <div id="player-stats" class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Stats for {{ Name }}</p>
              <p>Games Played: {{ played }}</p>
              <p>Games Won: {{ won }}</p>
              <p>Games Lost: {{ lost }}</p>
              <p>High Score: {{ high }}</p>
            </div>
            <div id="leaders">
              <p>Leaderboard</p>
              <ol>
                <li class="leader-list" ng-repeat="stat in leaderBoard | orderBy: '-highScore' | limitTo:5">  <!-- Filter top 5 scores in descending order -->
                  {{ stat.username + ': ' + stat.highScore }}
                </li>
              </ol>
            </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modal-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class='game'></div> <!-- this is the div where the game displays -->

<div class='stats'>  <!-- this div holds all the text that appears beside the game -->
  <h3>
    <p class='title'>Bears. Beets.</p>
    <P id='game-name' class='title'>Battlestar Galactica!</p>
  </h3>
  <h4>
    <p id='greeting'></p>
  </h4>
  <div id='statcat'>
    <h5>
      <p id='played'></p>
    </h5>    
    <h5>
      <p id='won'></p>
    </h5>    
    <h5>
      <p id='lost'></p>
    </h5>  
    <h5>
      <p id='high'></p>
    </h5>
  </div>
  <div class="instructions">
    <p>Use right and left arrows to move</p>
    <p>Up arrow to jump</p>
    <p>Spacebar to fire</p>
    <p>Avoid the bears!</p>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success btn-md" id='modal-btn' data-toggle="modal" data-target="#myModal">Stats
  </button>
  <div>
    <input type='submit' class='btn btn-success btn-md' id='logout-btn' ng-click='logout()' value="Logout">
  </div>  
</div>