<div class='game'></div>
<div class='stats'>
  <h3>
    <p class='title'>Bears - Beets</p>
    <P id='game-name' class='title'>Battlestar Galactica!</p>
  </h3>
  <div id='statcat'>
    <h4>
      <p id='played'>Played: 0</p>
    </h4>    
    <h4>
      <p id='won'>Won: 0</p>
    </h4>    
    <h4>
      <p id='lost'>Lost: 0</p>
    </h4>  
    <h4>
      <p id='high'>High Score: 0</p>
    </h4>
  </div>
  <p>Use right and left arrows to move</p>
  <p>Up arrow to jump</p>
  <p>Spacebar to fire</p>
</div>