
<div class='game'></div>
<div class='stats'>
  <h3>
    <p class='title'>Bears - Beets</p>
    <P id='game-name' class='title'>Battlestar Galactica!</p>
  </h3>
  <h4>
    <p id='greeting'></p>
  </h4>
  <div id='statcat'>
    <h4>
      <p id='played'></p>
    </h4>    
    <h4>
      <p id='won'></p>
    </h4>    
    <h4>
      <p id='lost'></p>
    </h4>  
    <h4>
      <p id='high'></p>
    </h4>
  </div>
  <p>Use right and left arrows to move</p>
  <p>Up arrow to jump</p>
  <p>Spacebar to fire</p>
  <div>
    <input type='submit' class='btn btn-success btn-lg' id='logout-btn' ng-click='logout()' value="Logout">
  </div>
</div>